

  #nav-bar{
    text-align: right;
    position: fixed;
    display: flex;
    gap: 5em;
  }

@media (max-width: 650px) {
  #first {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
}

#first {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#nav-bar{
  text-align: right;
  margin-top: ;
}