@media screen and (min-width: 400px){
  html{
    font-size: 15px;
  }
  body{
    background-color: #3ea7bc;
    
  }
  main{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 100px);
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d"
                         "e"
                         "f"
                         "g"
                         "h"
                         "i";
                        
    gap: 10px;
  }
  section{
       background-color: rgb(17, 255, 124);
   /*  height: 50px; 
    width: 50%; */
    /* margin-bottom: 2em;
    margin-top: 10px;
    margin-left: 2rem;
    margin-right: 0.5rem; */
   /*  margin:/*  10px auto; */
  }
  
  section:nth-last-of-type(1){
    grid-area: a;
    background: linear-gradient(90deg,green 30%, white 30%, white 60%, green 50%);
    /* background-color: red; */
  }
  section:nth-last-of-type(2){
    grid-area: b;
    background: -webkit-linear-gradient(90deg, white 50%, green 50%);
  }
  section:nth-last-of-type(3){
    grid-area: c;
    background: radial-gradient(red 30%, white 30%);
  }
  section:nth-last-of-type(4){
    grid-area: d;
    background: linear-gradient(90deg, red 30%, yellow 30%, yellow 60%, green 60%, green );
  }
  section:nth-last-of-type(5){
    grid-area: e;
    background: linear-gradient(90deg, navy 30%, white 30%, white 60%, red 60%, red 
    )
  }
  section:nth-last-of-type(6){
    grid-area: f;
    background: linear-gradient(180deg, black 35%, red 35%, red 65%,  yellow 65%, yellow
    )
  }
  section:nth-last-of-type(7){
    grid-area: g;
    background: repeating-radial-gradient(red 10%, white 12%); 
  }
  section:nth-last-of-type(8){
    grid-area: h;
  }
  section:nth-last-of-type(9){
    grid-area: i;}
}

@media screen and (min-width: 720px){
  html{
    font-size: 15px;
  }
  body{
    background-color: #3ea7bc;
    
  }
  main{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 100px);
    grid-template-areas: "a a"
                         "b c"
                         "d e"
                         "f g"
                         "h i";
                         
                        
                        
    gap: 10px;
  }
  section{
    background-color: rgb(17, 255, 124);
   /*  height: 50px; 
    width: 50%; */
    /* margin-bottom: 2em;
    margin-top: 10px;
    margin-left: 2rem;
    margin-right: 0.5rem; */
   /*  margin:/*  10px auto; */
  }
  .first{
    background-color: red;
  }
  .first{
    grid-area: a;
  }
  section:nth-last-of-type(2){
    grid-area: b;
  }
  section:nth-last-of-type(3){
    grid-area: c;
  }
  section:nth-last-of-type(4){
    grid-area: d;
  }
  section:nth-last-of-type(5){
    grid-area: e;
  }
  section:nth-last-of-type(6){
    grid-area: f;
  }
  section:nth-last-of-type(7){
    grid-area: g;
  }
  section:nth-last-of-type(8){
    grid-area: h;
  }
  section:nth-last-of-type(9){
    grid-area: i;
  }
}
@media screen and (min-width: 800px){
  html{
    font-size: 15px;
  }
  body{
    background-color: #3ea7bc;
    
  }
  main{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas: "a a b c"
                         "d e e f"
                         "g g h f"
                         "i i i i";
                        
    gap: 10px;
  }
  section{
    background-color: rgb(17, 255, 124);
   /*  height: 50px; 
    width: 50%; */
    /* margin-bottom: 2em;
    margin-top: 10px;
    margin-left: 2rem;
    margin-right: 0.5rem; */
   /*  margin:/*  10px auto; */
  }
  .first{
    background-color: red;
  }
  .first{
    grid-area: a;
  }
  section:nth-last-of-type(2){
    grid-area: b;
  }
  section:nth-last-of-type(3){
    grid-area: c;
  }
  section:nth-last-of-type(4){
    grid-area: d;
  }
  section:nth-last-of-type(5){
    grid-area: e;
  }
  section:nth-last-of-type(6){
    grid-area: f;
  }
  section:nth-last-of-type(7){
    grid-area: g;
  }
  section:nth-last-of-type(8){
    grid-area: h;
  }
  section:nth-last-of-type(9){
    grid-area: i;
  }
  
}
@media Print{
  html{
    font-size: 15px;
  }
  body{
    background-color: transparent;
    
  }
  main{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 100px);
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d"
                         "e"
                         "f"
                         "g"
                         "h"
                         "i";
                        
    gap: 10px;
  }
  section{
    background-color: rgb(17, 255, 124);
    border: 5px ; 
    border-color: white; 
   /*  height: 50px; 
    width: 50%; */
    /* margin-bottom: 2em;
    margin-top: 10px;
    margin-left: 2rem;
    margin-right: 0.5rem; */
   /*  margin:/*  10px auto; */
  }
  .first{
    background-color: red;
  }
  .first{
    grid-area: a;
  }
  section:nth-last-of-type(2){
    grid-area: b;
  }
  section:nth-last-of-type(3){
    grid-area: c;
  }
  section:nth-last-of-type(4){
    grid-area: d;
  }
  section:nth-last-of-type(5){
    grid-area: e;
  }
  section:nth-last-of-type(6){
    grid-area: f;
  }
  section:nth-last-of-type(7){
    grid-area: g;
  }
  section:nth-last-of-type(8){
    grid-area: h;
  }
  section:nth-last-of-type(9){
    grid-area: i;
  }
  
}
