@media screen and (min-width: 250px){
 
  section{
    height: 300vh;
   
  }
  section:first-of-type{
    background-color: rgba(0, 0, 0, 0.900);
    background-image: url(./tree-g8eaaed0d0_1280.jpg);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: contain;
    
  }
  .image{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20vh 0;
  }
  
  section nav{
    display: flex;
    justify-content: space-between;
    height: 3em;
    align-items: right;
    padding: 5px 20px;
  }
  div a span{
    color: #E55;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
  a:hover{
    background-color: rgb(150, 69, 69);
    color: #fff;
    border-radius: 50%;
    transform: rotate(-45deg);
    cursor:grabbing;
    }
  a:active{
    transition: 0.25s;
    
  }
  nav> :last-child{
    display: flex;
    justify-content: center;
  }
  nav a{
    font-family: 'Dancing Script', cursive;;
    display: block;
    padding-right: 3em;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    margin-left: 10px;
    border-left: 20Px;
    padding: 5px;
  }
  nav header{
    color: #E55;
  }
  nav header span{
    color: white;
  }
  nav a:last-child{
    color: #E55;
    border: 2px solid #E55;
    padding: 10px;
    margin-left: 10px;
  
  }
  .image img{
    width: 30%;
    display: block;
    margin: auto;
    border-radius: 50%;
    
  
  }
  
  .image h2{
    color: #E55;
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
  
  }
  .image p{
    font-family: 'Dancing Script', cursive;
    color: #fff;
  }
  
  
  
  
  section:nth-of-type(2){
    font-size: 12px;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 300px;
    gap: 3em;
    color: white;
    background-color: rgb(64, 43, 73);
  
  }
  
  main section:nth-of-type(2) > div:first-of-type{
    background-image: url(./IMG_20220911_120009_226.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 90px;
    margin-bottom: -23%;
    padding: auto;
    border-radius: 30px 60px 150px 30px;
    border-right: 3px solid #e55;
    border-bottom: 1px solid;
    border-top:1px solid ;
     
  }
  div h3{
    color: #E55;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    padding-top: 2em;
  }
  div #about{
    font-size: 24px;
    margin-top: auto;
  
  }
  div #about span{
      border-bottom: 2px solid #E55;
  }
  
  .profile{
    display: flex;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid #e55;
    margin-right: auto;
    padding: 0.5em;
    margin-bottom: 5px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-align: justify;
    text-transform: capitalize;
    
  
  }
  div #p{
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 6em;
    text-align: justify;
   
  }
  .profile + input{
    background-color: #e55;
    border: none;
    margin-top: 10px;
    color: white;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: progress;
    transition: 0.1s;
    
  }
  
  .profile + input:hover{
    box-shadow: 0 0 5px rgb(41, 6, 6);
    background-color: rgb(64, 31, 156);
    color: #e55;
    transition: 0.1s;
  }
  .profile + input:active{
    opacity: 0.1s;
  
  }
  
  
  
  
  
  section:nth-of-type(3){
    font-size: 12px;
    padding-top: 2em;
     gap: 1em;
    color: white;
    background-color: #215;
    border: none;
    padding-left: 5em;
  
  }
  .grid{
    font-size: 12px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "a b c"
                         "d e f";
    color: white;
    background-color: #215;
    gap: 10px;
    
  }
  #grid:nth-of-type(1){
    grid-area: a;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: -2em;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-right: 2em;
  }
  #grid:nth-of-type(1):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  #grid span{
    color: #E55;
  }
  #grid:nth-of-type(2){
    grid-area: b;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: -2em;
    padding-top: 2em;
  }
  #grid:nth-of-type(2):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  #grid:nth-of-type(3){
    grid-area: c;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: 0em;
    padding-top: 2em;
  }
  #grid:nth-of-type(3):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  #grid:nth-of-type(4){
    grid-area: d;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: -2em;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-right: 2em;
  }
  #grid:nth-of-type(4):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  #grid:nth-of-type(5){
    grid-area: e;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: -2em;
    padding-top: 2em;
  }
  #grid:nth-of-type(5):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  #grid:nth-of-type(6){
    grid-area: f;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: 0em;
    padding-top: 2em;
  }
  #grid:nth-of-type(6):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  
  .sect3 h3{
    color: #E55;
    margin-bottom: 10px;
    }
  .sect3 h2{
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .sect3 span{
      border-bottom: 2px solid #E55;
  } 
  }

@media screen and (min-width: 720px){
 
  section{
    height: 100vh;
   
  }
  section:first-of-type{
    background-color: rgba(0, 0, 0, 0.900);
    background-image: url(./tree-g8eaaed0d0_1280.jpg);
    background-blend-mode: overlay;
    background-size: contain;
    
  }
  .image{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20vh 0;
  }
  
  section nav{
    display: flex;
    justify-content: space-between;
    height: 3em;
    align-items: right;
    padding: 5px 20px;
  }
  div a span{
    color: #E55;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
  a:hover{
    background-color: rgb(150, 69, 69);
    color: #fff;
    border-radius: 50%;
    transform: rotate(-45deg);
    cursor:grabbing;
    }
  a:active{
    transition: 0.25s;
    
  }
  nav> :last-child{
    display: flex;
    justify-content: center;
  }
  nav a{
    font-family: 'Dancing Script', cursive;;
    display: block;
    padding-right: 3em;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    margin-left: 10px;
    border-left: 20Px;
    padding: 5px;
  }
  nav header{
    color: #E55;
  }
  nav header span{
    color: white;
  }
  nav a:last-child{
    color: #E55;
    border: 2px solid #E55;
    padding: 10px;
    margin-left: 10px;
  
  }
  .image img{
    width: 30%;
    display: block;
    margin: auto;
    border-radius: 50%;
    
  
  }
  
  .image h2{
    color: #E55;
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
  
  }
  .image p{
    font-family: 'Dancing Script', cursive;
    color: #fff;
  }
  
  
  
  
  section:nth-of-type(2){
    font-size: 12px;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 300px;
    gap: 3em;
    color: white;
    background-color: rgb(64, 43, 73);
  
  }
  
  main section:nth-of-type(2) > div:first-of-type{
    background-image: url(./IMG_20220911_120009_226.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 90px;
    margin-bottom: -23%;
    padding: auto;
    border-radius: 30px 60px 150px 30px;
    border-right: 3px solid #e55;
    border-bottom: 1px solid;
    border-top:1px solid ;
     
  }
  div h3{
    color: #E55;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    padding-top: 2em;
  }
  div #about{
    font-size: 24px;
    margin-top: auto;
  
  }
  div #about span{
      border-bottom: 2px solid #E55;
  }
  
  .profile{
    display: flex;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid #e55;
    margin-right: auto;
    padding: 0.5em;
    margin-bottom: 5px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-align: justify;
    text-transform: capitalize;
    
  
  }
  div #p{
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 6em;
    text-align: justify;
   
  }
  .profile + input{
    background-color: #e55;
    border: none;
    margin-top: 10px;
    color: white;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: progress;
    transition: 0.1s;
    
  }
  
  .profile + input:hover{
    box-shadow: 0 0 5px rgb(41, 6, 6);
    background-color: rgb(64, 31, 156);
    color: #e55;
    opacity: 0.1s;
  }
  .profile + input:active{
    opacity: 0.1s;
  
  }
  
  
  
  
  
  section:nth-of-type(3){
    font-size: 12px;
    padding-top: 2em;
     gap: 1em;
    color: white;
    background-color: #215;
    border: none;
    padding-left: 5em;
  
  }
  .grid{
    font-size: 12px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "a b c"
                         "d e f";
    color: white;
    background-color: #215;
    gap: 10px;
    
  }
  #grid:nth-of-type(1){
    grid-area: a;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: -2em;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-right: 2em;
  }
  #grid:nth-of-type(1):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  #grid span{
    color: #E55;
  }
  #grid:nth-of-type(2){
    grid-area: b;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: -2em;
    padding-top: 2em;
  }
  #grid:nth-of-type(2):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  #grid:nth-of-type(3){
    grid-area: c;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: 0em;
    padding-top: 2em;
  }
  #grid:nth-of-type(3):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  #grid:nth-of-type(4){
    grid-area: d;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: -2em;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-right: 2em;
  }
  #grid:nth-of-type(4):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  #grid:nth-of-type(5){
    grid-area: e;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: -2em;
    padding-top: 2em;
  }
  #grid:nth-of-type(5):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  #grid:nth-of-type(6){
    grid-area: f;
    border: 2px solid #E55;
    padding-left: 2em;
    margin-left: 0em;
    padding-top: 2em;
  }
  #grid:nth-of-type(6):hover{
    color: #E55;
    background-color: #573e68;
    transition: 0.25s;
    border-radius: 20%;
  }
  
  .sect3 h3{
    color: #E55;
    margin-bottom: 10px;
    }
  .sect3 h2{
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .sect3 span{
      border-bottom: 2px solid #E55;
  }
  
  }