section{
  height: 100vh;
  border-bottom: 2px solid;

}
section:first-of-type{
  background-color: rgba(0, 0, 0, 0.754);
  background-image: url(./tree-g8eaaed0d0_1280.jpg);
  background-blend-mode: overlay;
  background-size: contain;
  
}
.image{
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20vh 0;
}

section nav{
  display: flex;
  justify-content: space-between;
  height: 3em;
  align-items: center;

  
}

nav> :last-child{
  display: flex;
  justify-content: ;
}
nav a{
  font-family: 'Dancing Script', cursive;;
  display: block;
  padding-right: 1em;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  margin-left: 40px;
  border-left: 30Px;
  padding: 10px;
}
nav header{
  color: #E55;
}
nav header span{
  color: white;
}
nav a:last-child{
  color: #E55;
  border: 2px solid #E55;
  padding: 10px;
  margin-left: 10px;

}
.image img{
  width: 20%;
  display: block;
  margin: auto;
  border-radius: 50%;
  

}

.image h2{
  color: #E55;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;

}
.image p{
  font-family: 'Dancing Script', cursive;
  color: #fff;
}
section:nth-of-type(2){
  font-size: 12px;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px;
  gap: 3em;
  color: white;
  background-color: #123;
}

main section:nth-of-type(2) > div:first-of-type{
  background-image: url(./IMG_20220911_120009_224.jpg);
  background-size: cover;
}

.profile{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid #e55;
  padding: 1em;
  margin-bottom: 10px;
}
.profile + input{
  background-color: #e55;
  border: none;
  color: white;
  padding: 1em 1.5em;
  border-radius: 5px;
}

.profile + input:hover{
  box-shadow: 0 0 5px white;
  background-color: white;
  color: #e55;
}
