@media screen and (min-width: 250px){
  
  section{
    height: 320vh;
    border-bottom: 2px solid;
      
  }
  a{
    color: #fff;
    text-decoration: none;
    
  }
  a:hover{
    background-color: #E55;
    color: #fff;
  }
  section:first-of-type{
    background-color: rgba(0, 0, 0, 0.900);
    background-image: url(./tree-g8eaaed0d0_1280.jpg);
    background-blend-mode: overlay;
    background-size: contain;
    
  }
  .image{
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10vh 0;
  }
  
  /* section nav{
    /* display: flex; */
    /* justify-content: space-between; */
    /* height: 3em; */
    /* align-items: center; */
    /* padding: 10px 60px; */
  
  div a span{
    color: #E55;
  }
  nav> :last-child{
   /*  display: flex;
    justify-content: center; */
  }
  nav a{
    font-family: 'Dancing Script', cursive;;
    display: block;
    padding-right: 1em;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    margin-left: 40px;
    border-left: 30Px;
    padding: 10px;
  }
  nav header{
    color: #E55;
  }
  nav header span{
    color: white;
  }
  nav a:last-child{
    color: #E55;
    border: 2px solid #E55;
    padding: 10px;
    margin-left: 10px;
  
  }
  .image img{
    width: 20%;
    display: block;
    margin: auto;
    border-radius: 50%;
    
  
  }
  
  .image h2{
    color: #E55;
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    /* text-decoration-line: underline; */
  
  }
  .image p{
    font-family: 'Dancing Script', cursive;
    color: #fff;
  }
  section:nth-of-type(2){
    font-size: 12px;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 300px;
    gap: 3em;
    color: white;
    background-color: #123;
  }
  
  main section:nth-of-type(2) > div:first-of-type{
    background-image: url(./IMG_20220911_120009_226.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 90px;
    margin-bottom: -55%;
     padding: 10%;
    
  }
  div h3{
    color: #E55;
    margin-bottom: -2%;
    margin-top: 95px;
    font-size: 18px;
  }
  div #about{
    font-size: 30px;
  }
  div #about span{
      border-bottom: 2px solid #E55;
  }
  
  .profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid #e55;
    padding: 1em;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  div #p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  .profile + input{
    background-color: #e55;
    border: none;
    color: white;
    padding: 1em 1.5em;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  
  .profile + input:hover{
    box-shadow: 0 0 5px white;
    background-color: white;
    color: #e55;
  }
  
  section:nth-of-type(3){
    font-size: 12px;
    padding-top: 4em;
     gap: 1em;
    color: white;
    background-color: #215;
    border: none;
    padding-left: 10em;
  
  }
  .grid{
    font-size: 12px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d"
                         "e"
                         "f";
    color: white;
    background-color: #215;
    gap: 10px;
    
  }
  #grid:nth-of-type(1){
    grid-area: a;
    border: 1px solid #E55;
    padding-left: 2em;
    margin-left: -2em;
    padding-top: 2em;
    padding-bottom: 1em;
  }
  #grid span{
    color: #E55;
  }
  #grid:nth-of-type(2){
    grid-area: b;
    border: 1px solid #E55;
    padding-left: 2em;
    margin-left: 2em;
    padding-top: 2em;
  }
  #grid:nth-of-type(3){
    grid-area: c;
    border: 1px solid #E55;
    padding-left: 2em;
    margin-left: 2em;
    padding-top: 2em;
  }
  #grid:nth-of-type(4){
    grid-area: d;
    border: 1px solid #E55;
    padding-left: 2em;
    margin-left: -2em;
    padding-top: 2em;
    padding-bottom: 1em;
  }
  #grid:nth-of-type(5){
    grid-area: e;
    border: 1px solid #E55;
    padding-left: 2em;
    margin-left: 2em;
    padding-top: 2em;
  }
  #grid:nth-of-type(6){
    grid-area: f;
    border: 1px solid #E55;
    padding-left: 2em;
    margin-left: 2em;
    padding-top: 2em;
  }
  
  .sect3 h3{
    color: #E55;
    margin-bottom: -2%;
    }
  .sect3 h2{
    font-size: 40px;
    margin-left: 0;
  }
  .sect3 span{
      border-bottom: 2px solid #E55;
  }
  
  }
@media screen and (min-width: 720px){
  
section{
  height: 100vh;
  border-bottom: 2px solid;

}
section:first-of-type{
  background-color: rgba(0, 0, 0, 0.900);
  background-image: url(./tree-g8eaaed0d0_1280.jpg);
  background-blend-mode: overlay;
  background-size: contain;
  
}
.image{
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 20vh 0;
}

section nav{
  display: flex;
  justify-content: space-between;
  height: 3em;
  align-items: center;
  padding: 10px 60px;
}
div a span{
  color: #E55;
}
nav> :last-child{
  display: flex;
  justify-content: center;
}
nav a{
  font-family: 'Dancing Script', cursive;;
  display: block;
  padding-right: 1em;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  margin-left: 40px;
  border-left: 30Px;
  padding: 10px;
}
nav header{
  color: #E55;
}
nav header span{
  color: white;
}
nav a:last-child{
  color: #E55;
  border: 2px solid #E55;
  padding: 10px;
  margin-left: 10px;

}
.image img{
  width: 20%;
  display: block;
  margin: auto;
  border-radius: 50%;
  

}

.image h2{
  color: #E55;
  font-size: 40px;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  /* text-decoration-line: underline; */

}
.image p{
  font-family: 'Dancing Script', cursive;
  color: #fff;
}
section:nth-of-type(2){
  font-size: 12px;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px;
  gap: 3em;
  color: white;
  background-color: #123;
}

main section:nth-of-type(2) > div:first-of-type{
  background-image: url(./IMG_20220911_120009_226.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 90px;
  margin-bottom: -55%;
   padding: 10%;
  
}
div h3{
  color: #E55;
  margin-bottom: -2%;
  margin-top: 95px;
  font-size: 18px;
}
div #about{
  font-size: 30px;
}
div #about span{
    border-bottom: 2px solid #E55;
}

.profile{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid #e55;
  padding: 1em;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
div #p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.profile + input{
  background-color: #e55;
  border: none;
  color: white;
  padding: 1em 1.5em;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.profile + input:hover{
  box-shadow: 0 0 5px white;
  background-color: white;
  color: #e55;
}

section:nth-of-type(3){
  font-size: 12px;
  padding-top: 4em;
   gap: 1em;
  color: white;
  background-color: #215;
  border: none;
  padding-left: 10em;

}
.grid{
  font-size: 12px;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a b c"
                       "d e f";
  color: white;
  background-color: #215;
  gap: 10px;
  
}
#grid:nth-of-type(1){
  grid-area: a;
  border: 1px solid #E55;
  padding-left: 2em;
  margin-left: -2em;
  padding-top: 2em;
  padding-bottom: 1em;
}
#grid span{
  color: #E55;
}
#grid:nth-of-type(2){
  grid-area: b;
  border: 1px solid #E55;
  padding-left: 2em;
  margin-left: 2em;
  padding-top: 2em;
}
#grid:nth-of-type(3){
  grid-area: c;
  border: 1px solid #E55;
  padding-left: 2em;
  margin-left: 2em;
  padding-top: 2em;
}
#grid:nth-of-type(4){
  grid-area: d;
  border: 1px solid #E55;
  padding-left: 2em;
  margin-left: -2em;
  padding-top: 2em;
  padding-bottom: 1em;
}
#grid:nth-of-type(5){
  grid-area: e;
  border: 1px solid #E55;
  padding-left: 2em;
  margin-left: 2em;
  padding-top: 2em;
}
#grid:nth-of-type(6){
  grid-area: f;
  border: 1px solid #E55;
  padding-left: 2em;
  margin-left: 2em;
  padding-top: 2em;
}

.sect3 h3{
  color: #E55;
  margin-bottom: -2%;
  }
.sect3 h2{
  font-size: 40px;
  margin-left: 0;
}
.sect3 span{
    border-bottom: 2px solid #E55;
}
a:hover{
  background-color: black;
  color: #fff;
  }
}